@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
  font-family: 'Press Start 2P', cursie;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
 
}
#calc{
   	display: table-cell;
  	vertical-align: middle;
   	background-color: rgb(31,188,233);

}
#innercalc{

	box-shadow: 1px 1px 5px 1px black;
	background: #654ea3;

}
#disp{
	font-size: 150%;
	background-color:#E9E4F0;
	margin-top: 4%;
	border-bottom: red; 

}
#totaldisp{
	color: grey;
	background-color:#E9E4F0;
	border-top: red;
}
.btn{
	padding: 1%;
	margin: 1%;
	width: 10%;
}
